html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: San Francisco, Verdana;
  background-color: #1D1E1C;
}

.CodeMirror, #editor {
  width: 100%;
}

.agreement {
  color: #fff;
  font-size: 12px;
  flex-direction: row;
  display: flex;
}

.lint-icon {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAMAAAAoLQ9TAAAANlBMVEX/uwDvrwD/uwD/uwD/uwD/uwD/uwD/uwD/uwD6twD/uwAAAADurwD2tQD7uAD+ugAAAAD/uwDhmeTRAAAADHRSTlMJ8mN1EYcbmiixgACm7WbuAAAAVklEQVR42n3PUQqAIBBFUU1LLc3u/jdbOJoW1P08DA9Gba8+YWJ6gNJoNYIBzAA2chBth5kLmG9YUoG0NHAUwFXwO9LuBQL1giCQb8gC9Oro2vp5rncCIY8L8uEx5ZkAAAAASUVORK5CYII=");
  cursor: pointer;
  background-repeat: no-repeat;
  width: 16px;
  height: 16px;
}

.lint-error-icon {
  background-position: center center;
  background-repeat: no-repeat;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  position: relative;
}

.CodeMirror-linewidget {
  position: absolute;
  width: 16px !important;
  height: 16px !important;
  background-color: #263238;
  left: -48px !important;
  z-index: 7;
  overflow: visible;
}

.error-tooltip {
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;

  opacity: 0;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  font-size: 13px;
  transition: all 0.3s;
  border-radius: 11px;
  z-index: 8;
  position: relative;
  display: table;
  left: 0px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  white-space: nowrap;
  pointer-events: none;
}

.error-tooltip.visible {
  opacity: 1;
  visibility: visible;
  left: 10px;
}

.side-info a {
  color: #fff;
}

.side-info ul {
  width: calc(100% - 20px);
  color: white;
  font-size: 13px;
  list-style-type: none;
  white-space: normal;
  margin-left: 0px;
  padding-left: 11px;
}

.rule-name,
.position {
  color: #aaa;
}

.side-info ul li {
  margin-bottom: 10px;
  font-family: Consolas, Verdana;
}

header {
  height: 60px;
  background-color: #1D1E1C;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 13px;
}

nav li a {
  color: #CBCBCB;
  text-shadow: none;
  text-decoration: none;
  transition: all 0.3s;
}

nav li a:hover {
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

.content {
  height: calc(100% - 60px);
}

#editor {
  height: 70%;
}

.CodeMirror {
  height: 100%;
}

.warnings-wrapper ul {
  height: calc(100vh - 70vh - 100px);
  overflow: auto;
}

.side-info {
  padding: 2%;
  width: 96%;
  display: flex;
}

.side-info h4 {
  color: #666;
  margin: 0;
  margin-left: 10px;
}

@media screen and (orientation:landscape) {
  .side-info {
    float: right;
  }

  #editor {
    height: 100%;
  }

  .side-info {
    width: 36%;
    max-width: 300px;
    flex-direction: column;
  }

  .warnings-wrapper ul {
    height: calc(100vh - 195px);
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.codelyzer-logo {
  text-transform: none;
  text-decoration: none;
  cursor: pointer;
  font-family: Verdana;
  font-size: 27px;
  color: #fff;
  margin-left: 12px;
  display: inline-block;
  margin-bottom: 1px;
  top: 3px;
  position: relative;
}

.codelyzer-logo span {
  color: #CBCBCB;
}
