html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: San Francisco, Verdana;
  background-color: #1D1E1C;
}

.CodeMirror, #editor, .warnings {
  width: 100%;
}

header {
  height: 60px;
  background-color: #1D1E1C;
}

nav ul {
  margin: 0;
  padding: 0;
  display: inline-block;
}

nav li {
  display: inline-block;
  list-style: none;
  margin: 0;
  padding: 10px;
  font-size: 13px;
}

nav li a {
  color: #CBCBCB;
  text-shadow: none;
  text-decoration: none;
  transition: all 0.3s;
}

nav li a:hover {
  color: #fff;
  text-shadow: 0 0 1px #fff;
}

.content {
  height: calc(100% - 60px);
}

#editor {
  height: 70%;
}

.CodeMirror {
  height: 100%;
}

.warnings {
  padding: 2%;
  max-width: 300px;
}

.warnings h4 {
  color: #666;
  margin: 0;
  margin-left: 10px;
}

@media screen and (orientation:landscape) {
  #editor, .warnings {
    float: right;
  }

  #editor {
    height: 100%;
  }

  .warnings {
    width: 36%;
  }

  .content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.codelyzer-logo {
  font-family: Verdana;
  font-size: 27px;
  color: #fff;
  margin-left: 12px;
  display: inline-block;
  margin-bottom: 1px;
  top: 3px;
  position: relative;
}

.codelyzer-logo span {
  color: #CBCBCB;
}
