@function getColumnWidth($width, $columns, $margin) {
  @return ($width / $columns) - ($margin * 2);
}

$container-width: 100%;
$column-count: 4;
$margin: 1%;

.container {
  width: $container-width;
}

.column {
  background: #1abc9c;
  height: 200px;
  display: block;
  float: left;
  width: getColumnWidth($container-width, $column-count, $margin);
  margin: 0 $margin;
}
